{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-5 text mb-5 fw-bold text-capitalize text-center">Add Category</h1>
    
    <div class="container-fluid form-signin w-100 m-auto">
        <form method="POST">
            {{ form.hidden_tag() }}


            <div class="form-floating my-2">
                {{ form.type(type="text", class="form-control", id="type", placeholder="") }}
                {{ form.type.label(for="type") }}
            </div>

            <div class="my-3"></div>

            {{ form.create(class="btn btn-sm btn-success px-4", type="submit") }}

            <a href="{{ url_for('root.list_categories') }}" class="btn btn-sm btn-secondary ps-2 pe-3 my-3 text-uppercase">
                <i class="bi bi-chevron-left"></i> To Category List
            </a>
        </form>
    </div>
</div>
{% endblock %}