{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="container text-center my-3 border-bottom mb-5">
        <h1 class="display-1 fw-bold text-capitalize text-body-tertiary">Contact Us</h1>
    </div>

    <div class="container">

        <div class="row">

            <!-- FEEDBACK FORM SECTION -->
            <div class="col-10 col-md-8 mx-auto">

                <div class="container text-center mb-4">
                    <h6 class="text-uppercase text-body-tertiary">Feedback</h6>
                </div>

                <!-- FORM -->
                <form method="POST">
                    {{ form.hidden_tag() }}

                    <div class="form-floating my-2">
                        {{ form.name(type="text", class="form-control", id="name", placeholder="") }}
                        {{ form.name.label(for="name") }}
                    </div>

                    <div class="form-floating my-2">
                        {{ form.phone_number(type="tel", class="form-control", id="phone_number", placeholder="") }}
                        {{ form.phone_number.label(for="phone_number") }}
                    </div>

                    <div class="form-floating my-2">
                        {{ form.message(type="text", class="form-control", id="message", placeholder="", style="height:
                        150px;") }}
                        {{ form.message.label(for="message") }}
                    </div>

                    <div class="my-3"></div>

                    <div class="text-center">
                        {{ form.submit(class="btn btn-sm btn-success px-4", type="submit") }}
                    </div>

                </form>

            </div>

            <!-- BREAK SPACE -->
            <div class="py-5 my-5"></div>

            <!-- CONTACT DETAIL SECTION -->
            <div class="col-10 mx-auto text-center">

                <div class="container text-center mb-5">
                    <h6 class="text-uppercase text-body-tertiary">Contact Details</h6>
                </div>

                <p class="text-body-tertiary m-0">Location</p>
                <p class="mb-5">Panjim, Goa</p>

                <p class="text-body-tertiary m-0">Email</p>
                <p class="mb-5">miniart.0623@gmail.com</p>

                <p class="text-body-tertiary m-0">Phone No</p>
                <p>+91 8262800188</p>
            </div>
        </div>
    </div>

</div>

<!-- BREAK SPACE -->
<div class="py-5 my-5"></div>
{% endblock %}