{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- TOP ROW SECTION -->

    <div class="row mb-3 border rounded mx-1 shadow-sm">

        <!-- PRODUCT TITLE -->

        <div class="col-6 col-md-6">
            <div class="mb-4 mt-2 px-1 text-md-center">
                <h4 class="text-capitalize fw-semibold">{{ product.title }}</h4>
            </div>
            <div>
                <p><span class="fw-medium me-1">Product ID :</span> <span class="prd-id-p">{{ product.id }}</span></p>
                <p><span class="fw-medium me-1">Price(₹) -</span>{{ product.price }}</p>
                <div class="d-none d-sm-flex d-md-flex flex-sm-column flex-md-column d-lg-none">
                    <p><span class="fw-medium me-1">Image URL :</span>{{ product.img_urls }}</p>
                    <p class="text-body-justify"><span class="fw-medium me-1">Details :</span>{{ product.detail }}</p>
                    <p><span class="fw-medium me-1">Category :</span>{{ product.category.type }}</p>
                    <p><span class="fw-medium me-1">Best Seller :</span>{{ product.bestseller }}</p>
                </div>


                <!-- DISPLAY ONLY IN LG SCREEN -->

                <div class="d-none d-lg-flex flex-column">
                    <p><span class="fw-medium me-1">Image URL :</span> {{ product.img_urls }}</p>
                    <p class="text-body-justify"><span class="fw-medium me-1">Details :</span>{{ product.detail }}</p>
                    <p><span class="fw-medium me-1">Category :</span>{{ product.category.type }}</p>
                    <p><span class="fw-medium me-1">Best Seller :</span>{{ product.bestseller }}</p>
                    <p><span class="fw-medium me-1">Date Added :</span>{{ product.date_added }}</p>
                    <p><span class="fw-medium me-1">Date Updated :</span>{{ product.date_updated }}</p>
                </div>
            </div>
        </div>

        <!-- WORD IMAGE -->

        <div class="col-6 col-md-4 text-center">
            {% if product.img_urls|length > 1 %}
            <!-- CAROUSEL FOR MULTIPLE IMAGES -->
            <div id="productImagesCarousel{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for url in product.img_urls %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ url }}" class="img-fluid w-100 mb-2" alt="Product Image">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#productImagesCarousel{{ product.id }}" data-bs-slide="prev">
                    <i class="bi bi-chevron-left text-body-tertiary fw-lighter display-6 d-none d-lg-block"></i>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#productImagesCarousel{{ product.id }}" data-bs-slide="next">
                    <i class="bi bi-chevron-right text-body-tertiary fw-lighter display-6 d-none d-lg-block"></i>
                </button>
            </div>

            {% elif product.img_urls|length == 1 %}
            <!-- SINGLE IMAGE -->
            <img src="{{ product.img_urls[0] }}" class="img-fluid w-100 mb-2" alt="product">

            {% else %}
            <!-- NO IMAGE -->
            <p class="text-muted">No image available</p>
            {% endif %}

            <div class="mt-4 px-1">
                <p class="px-1 text-capitalize fw-semibold">{{ product.title }}</p>
                <p class="px-1 fw-medium">₹{{ product.price }}</p>
            </div>

        </div>

        <!-- BOTTOM ROW SECTION -->
        <!-- HIDDEN IN LG SCREEN -->

        <div class="col-12 col-lg-8 d-lg-none">
            <div class="d-sm-none d-md-none">
                <p><span class="fw-medium me-1">Image URL :</span>{{ product.img_urls }}</p>
                <p class="text-body-justify"><span class="fw-medium me-1">Details :</span>{{ product.detail }}</p>
                <p><span class="fw-medium me-1">Category :</span>{{ product.category.type }}</p>
                <p><span class="fw-medium me-1">Best Seller :</span>{{ product.bestseller }}</p>
            </div>
            <p><span class="fw-medium me-1">Date Added :</span>{{ product.date_added }}</p>
            <p><span class="fw-medium me-1">Date Updated :</span>{{ product.date_updated }}</p>
        </div>
    </div>

    <div class="container-fluid">
        <a href="{{ url_for('root.edit_product', id=product.id) }}"
            class="btn btn-sm btn-success px-4 text-uppercase mt-2">Edit <i class="bi bi-pencil-square"></i></a>

        <a href="{{ url_for('root.delete_product', id=product.id) }}"
            class="btn btn-sm btn-danger px-4 mx-2 mt-2 text-uppercase">Delete <i class="bi bi-trash3"></i></a>

        <a href="{{ url_for('root.inventory') }}" class="btn btn-sm btn-secondary text-uppercase ps-2 pe-3 mt-2"><i
                class="bi bi-chevron-left"></i> To Inventory</a>
    </div>
</div>
{% endblock %}