{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="container text-center my-3 border-bottom">
        <h1 class="display-1 fw-bold text-capitalize text-body-tertiary"><a href="{{ url_for('routes.store') }}" class="text-body-tertiary link-underline link-underline-opacity-0">Store</a></h1>
    </div>

    <!-- SHOP BY CATEGORY DISPLAY PANEL -->
    <div class="container-fluid mt-5">

        <!-- PANEL TITLE  -->
        <div class="container text-center">
            <h6 class="text-uppercase text-body-tertiary">{{ category.type }}</h6>
        </div>

        <!-- DIFFERENT CUSTOM PRODUCTS -->
        <div class="container mt-5">

            <div class="mb-5 text-center">
                <p class="text-body-tertiary fw-semibold">
                    Wanna get your own customized piece? Reach out to us on WhatsApp we'd love to make something just
                    for you!
                </p>

                <a href="https://wa.me/917798010393?text=Hi%21%20I%20saw%20some%20of%20your%20customized%20creations%20and%20would%20love%20to%20get%20one%20made%20for%20myself.%20Can%20you%20help%20me%20with%20Quick%20Customization%3F"
                    class="btn btn-sm btn-success px-3">
                    Chat Now
                </a>
            </div>

            <div class="text-center border-top py-3 mb-4">
                <p class="m-0 text-body-tertiary">Here are some custom creations we've made for our amazing customers
                    <span class="text-body">⬇️</span>
                </p>
            </div>

            <div class="row gy-5">

                <!-- ITEM 1 -->
                <div class="col-12 col-md-4">

                    <div class="d-flex flex-column border p-3 text-center shadow rounded">

                        <h5 class="text-body-secondary text-capitalize fw-semibold">
                            A Thoughtful Surprise
                        </h5>

                        <img src="https://res.cloudinary.com/dgzvo08an/image/upload/v1748164658/37_wjkhv7.jpg"
                            alt="item" class="img-fluid rounded my-3 mx-auto shadow-sm"
                            style="width: 250px; height: auto;">

                        <p class="m-0 px-3 py-2 justify-text-body border rounded shadow-sm">
                            <span class="text-body-tertiary fw-semibold text-uppercase fst-italic">customization
                                :</span> <br>
                            A customer approached Miniart looking for a unique, budget-friendly birthday gift.

                            With just a few details his favorite color (blue), his hobby (photography), and the
                            occasion we created this custom Polaroid frame.

                            The camera reflects his passion, the blue adds a personal touch, and the wishes make it
                            extra special.

                            At Miniart, we believe the best gifts are made with heart, memories, and a bit of
                            creativity.
                        </p>
                    </div>
                </div>

                <!-- ITEM 2 -->
                <div class="col-12 col-md-4">

                    <div class="d-flex flex-column border p-3 text-center shadow rounded">

                        <h5 class="text-body-secondary text-capitalize fw-semibold">
                            A Scroll of Gratitude and Grace
                        </h5>

                        <img src="https://res.cloudinary.com/dgzvo08an/image/upload/v1747822349/25_kvqufv.jpg"
                            alt="item" class="img-fluid rounded my-3 mx-auto shadow-sm"
                            style="width: 250px; height: auto;">

                        <p class="m-0 px-3 py-2 justify-text-body border rounded shadow-sm">
                            <span class="text-body-tertiary fw-semibold text-uppercase fst-italic">customization
                                :</span> <br>
                            A customer reached out to Miniart, wanting to express her deep gratitude and how truly
                            blessed she feels to have the friendship she shares with her friend.

                            She had written a beautiful poem straight from the heart, and to make it even more special,
                            we turned it into a delicate scroll something personal, timeless, and full of emotion.

                            A simple yet meaningful way to celebrate a bond that words alone couldn't contain.
                        </p>
                    </div>
                </div>

                <!-- ITEM 3 -->
                <div class="col-12 col-md-4">

                    <div class="d-flex flex-column border p-3 text-center shadow rounded">

                        <h5 class="text-body-secondary text-capitalize fw-semibold">
                            A Memory Rekindled Through Miniart
                        </h5>

                        <img src="https://res.cloudinary.com/dgzvo08an/image/upload/v1748433888/40_hc1c4k.jpg"
                            alt="item" class="img-fluid rounded my-3 mx-auto shadow-sm"
                            style="width: 250px; height: auto;">

                        <p class="m-0 px-3 py-2 justify-text-body border rounded shadow-sm">
                            <span class="text-body-tertiary fw-semibold text-uppercase fst-italic">customization
                                :</span> <br>
                            A customer came to Miniart wanting to reconnect with a childhood friend who now studies in
                            another state.

                            Though a simple text could have done the job, he wanted something more something that would
                            truly make her feel special, especially after losing touch for a while.

                            We designed a customized e-card that captured his message: that he still remembers her,
                            cherishes their bond, and hopes to meet again soon. A small gesture, filled with warmth, to
                            revive a precious friendship.
                        </p>
                    </div>
                </div>

                <!-- ITEM 4 -->
                <div class="col-12 col-md-4">

                    <div class="d-flex flex-column border p-3 text-center shadow rounded">

                        <h5 class="text-body-secondary text-capitalize fw-semibold">
                            Wheels on Display
                        </h5>

                        <img src="https://res.cloudinary.com/dgzvo08an/image/upload/v1748434183/1_zsfcrn.jpg" alt="item"
                            class="img-fluid rounded my-3 mx-auto shadow-sm" style="width: 250px; height: auto;">

                        <p class="m-0 px-3 py-2 justify-text-body border rounded shadow-sm">
                            <span class="text-body-tertiary fw-semibold text-uppercase fst-italic">customization
                                :</span> <br>
                            At Miniart, we created a custom Hot Wheels stand for a car enthusiast friend someone with a
                            deep passion for collecting cars.

                            While similar stands are available online, we made this one in a very budget-friendly way.

                            Now, he finally has the perfect spot to proudly display his collection personalized,
                            practical, and affordable!
                        </p>
                    </div>
                </div>

                <!-- ITEM 5 -->
                <div class="col-12 col-md-4">

                    <div class="d-flex flex-column border p-3 text-center shadow rounded">

                        <h5 class="text-body-secondary text-capitalize fw-semibold">
                            Crafted from Nature, Given from the Heart
                        </h5>

                        <img src="https://res.cloudinary.com/dgzvo08an/image/upload/v1748434310/70_f8u1yt.jpg"
                            alt="item" class="img-fluid rounded my-3 mx-auto shadow-sm"
                            style="width: 250px; height: auto;">

                        <p class="m-0 px-3 py-2 justify-text-body border rounded shadow-sm">
                            <span class="text-body-tertiary fw-semibold text-uppercase fst-italic">customization
                                :</span> <br>
                            A customer came to Miniart looking for a meaningful gift to appreciate her geology guide.

                            Knowing her teacher was a true geology enthusiast someone who even keeps a rock-in-resin
                            paperweight we wanted to create something equally personal.

                            We suggested a pen holder crafted from stones the student had collected herself, making it
                            not just a gift, but a heartfelt gesture that reflected their shared passion for geology.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- BREAK SPACE -->
<div class="my-5"></div>
{% endblock %}