{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="container text-center my-3 border-bottom">
        <h1 class="display-1 fw-bold text-capitalize text-body-tertiary">Store</h1>
    </div>

    <!-- SHOP BY CATEGORY DISPLAY PANEL -->
    <div class="container-fluid mt-5">

        <!-- PANEL TITLE  -->
        <div class="container text-center">
            <h6 class="text-uppercase text-body-tertiary">Shop by category</h6>
        </div>

        <!-- DIFFERENT CATEGORY LIST -->
        <div class="container-fluid mt-5">

            <div class="container text-center">
                <div class="row d-md-none">
                    {% for c in category %}
                    <div class="col-12">
                        <div class="mb-4">
                            <div class="card border-secondary-subtle mx-auto shadow-sm card-hover-pop" style="max-width: 16rem;">
                                <a href="{{ url_for('routes.category', id=c.id) }}"
                                    class="text-capitalize fw-semibold link-secondary link-underline link-underline-opacity-0">
                                    <div class="card-body text-secondary">
                                        <h6 class="card-title">{{ c.type }}</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row d-none d-md-flex">
                    {% for c in category %}
                    <div class="col-4">
                        <div class="mb-5">
                            <div class="card border-secondary-subtle mx-auto card-hover-pop" style="max-width: 16rem;">
                                <a href="{{ url_for('routes.category', id=c.id) }}"
                                    class="text-capitalize fw-semibold link-secondary link-underline link-underline-opacity-0">
                                    <div class="card-body text-secondary">
                                        <h6 class="card-title">{{ c.type }}</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}