<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MiniArt</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/miniart_logo.png') }}">

    <!-- CDN LINKS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- STATIC CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- MAIN NAVBAR -->
    <nav class="navbar navbar-expand-xl bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="
            {% if current_user.is_authenticated %}
                {{ url_for('root.dashboard') }}
            {% else %}
                {{ url_for('routes.home') }}
            {% endif %}">
                MiniArt
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 w-100">

                    {% if current_user.is_authenticated %}

                    <!-- WHEN LOGIN DISPLAY THESE LINKS -->
                    <div class="d-xl-flex justify-content-xl-center w-100">
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('root.dashboard') }}">Dashboard</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('root.list_categories') }}">Category</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('root.inventory') }}">Inventory</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('root.add_category') }}">Add Category</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('root.add_product') }}">Add Product</a>
                        </li>

                        {%if current_user.username == "admin" %}
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('auth.register') }}">Register User</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('auth.users') }}">Users</a>
                        </li>
                        {% endif %}

                    </div>


                    <li class="nav-item mx-xl-3 my-xl-auto">
                        <a class="btn btn-danger px-4 my-3 my-xl-0" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>

                    {% else %}

                    <div class="d-xl-flex justify-content-xl-center w-100">
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('routes.home') }}">Home</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('routes.store') }}">Store</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('routes.about') }}">About Us</a>
                        </li>
                        <li class="nav-item mx-xl-3">
                            <a class="nav-link" href="{{ url_for('routes.contact') }}">Contact Us</a>
                        </li>
                    </div>

                    <!-- WHEN LOGOUT DISPLAY THESE LINKS -->
                    <li class="nav-item mx-xl-3 my-xl-auto">
                        <a class="btn btn-success px-4 my-3 my-xl-0" href="{{ url_for('auth.login') }}">Login</a>
                    </li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>


    <!-- FLASH MESSAGES -->
    <div class="container my-1">
        {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

        {% for category, message in messages %}

        {% if category == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% elif category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% elif category == 'warning' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% else %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endif %}

        {% endfor %}

        {% endif %}

        {% endwith %}
    </div>


    <!-- MAIN BODY CONENT -->

    {% if current_user.is_authenticated %}
    <div class="my-5">
        {% block content %}
        {% endblock %}
    </div>

    {% else %}

    <div class="mb-5">
        {% block body %}
        {% endblock %}
    </div>

    {% endif %}


    <!-- MAIN FOOTER -->

    {% if current_user.is_authenticated %}

    <footer class="mt-auto bg-body-tertiary">
        <div class="footer container-fluid py-5 text-center">
            <span class="my-5 pt-5 text-body-secondary text-center">Copyright © MiniArt 2025.</span>
            <p class=" footer-p text-center text-body-tertiary m-0">designed by
                <a href="https://github.com/p-sher4win" class="link-secondary">p-sher4win!</a>
            </p>
        </div>
    </footer>


    {% else %}

    <div class="container-fluid mt-auto bg-dark">
        <footer class="py-3 my-4 text-center">
            <img src="{{ url_for('static', filename='images/miniart_logo.png') }}" width="100" class="my-4 py-4"
                alt="logo">

            <ul class="nav justify-content-center pb-2 mb-2">
                <li class="nav-item mx-1 mx-sm-3 mx-xl-4">
                    <a href="{{ url_for('routes.home') }}" class="nav-link px-2 text-secondary">Home</a>
                </li>
                <li class="nav-item mx-1 mx-sm-3 mx-xl-4">
                    <a href="{{ url_for('routes.store') }}" class="nav-link px-2 text-secondary">Store</a>
                </li>
                <li class="nav-item mx-1 mx-sm-3 mx-xl-4">
                    <a href="{{ url_for('routes.about') }}" class="nav-link px-2 text-secondary">About</a>
                </li>
                <li class="nav-item mx-1 mx-sm-3 mx-xl-4">
                    <a href="{{ url_for('routes.contact') }}" class="nav-link px-2 text-secondary">Contact</a>
                </li>
            </ul>

            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item ">
                    <a href="https://www.instagram.com/_.miniart_03?utm_source=ig_web_button_share_sheet&amp;igsh=ZDNlZDc0MzIxNw=="
                        class="nav-link px-2 text-secondary"><i class="bi bi-instagram"></i></a>
                </li>
                <li class="nav-item ">
                    <a href="https://wa.me/917798010393" class="nav-link px-2 text-secondary"><i
                            class="bi bi-whatsapp"></i></a>
                </li>
                <li class="nav-item ">
                    <a href="mailto:miniart.0623@gmail.com" class="nav-link px-2 text-secondary"><i
                            class="bi bi-envelope-at"></i></a>
                </li>
                <li class="nav-item ">
                    <a href="tel:+917798010393" class="nav-link px-2 text-secondary"><i class="bi bi-telephone"></i></a>
                </li>
            </ul>

            <p class="text-center text-white-50 m-0">Copyright © MiniArt 2025.</p>
            <p class=" footer-p text-white-50 text-center m-0">designed by
                <a href="https://github.com/p-sher4win" class="link-secondary">p-sher4win!</a>
            </p>
        </footer>
    </div>

    {% endif %}


    <!-- CDN SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>