{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="container text-center my-3 border-bottom">
        <h1 class="display-1 fw-bold text-capitalize text-body-tertiary">Store</h1>
    </div>

    <!-- PANEL TITLE  -->
    <div class="container-fluid my-5 text-center">
        <h6 class="text-uppercase text-body-tertiary">Handmade Candles</h6>
    </div>


    <div class="row gy-3">

        {% for product in products %}

        {% if product.category.type == "Handmade Candles" %}

        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
            <div class="border m-1">
                <a href="{{ url_for('routes.item', id=product.id) }}" class="link-dark link-underline-opacity-0">
                    <img src="{{ product.img_url }}" class="w-100 p-1" alt="product">
                    <div class="mt-4 px-1">
                        <p class="px-1">{{ product.title }}</p>
                        <p class="px-1">₹{{ product.price }}</p>
                    </div>
                </a>
            </div>
        </div>

        {% endif %}

        {% endfor %}

    </div>


</div>
{% endblock %}