{% extends 'base.html' %}

{% block body %}
<div class="container-fluid mb-5">

    <div class="container text-center my-3 border-bottom">
        <h1 class="display-1 fw-bold text-capitalize text-body-tertiary">Store</h1>
    </div>

    <!-- SHOP BY CATEGORY DISPLAY PANEL -->
    <div class="container-fluid mt-5">

        <!-- PANEL TITLE  -->
        <div class="container text-center">
            <h6 class="text-uppercase text-body-tertiary">Shop by category</h6>
        </div>

        <!-- DIFFERENT CATEGORY LIST -->
        <div class="container-fluid mt-5">

            <!-- ROW ONE -->
            <div class="row mb-5">
                <div class="col-6 col-md-4 text-center">
                    <a href="{{ url_for('routes.crafts_flora_art') }}">
                        <figure class="figure">
                            <img src="https://placehold.co/100" class="figure-img img-fluid" alt="category">
                            <figcaption class="figure-caption">Crafts & Floral Art</figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-6 col-md-4 text-center">
                    <a href="{{ url_for('routes.digital_stationery') }}">
                        <figure class="figure">
                            <img src="https://placehold.co/100" class="figure-img img-fluid" alt="category">
                            <figcaption class="figure-caption">Digital & Stationery</figcaption>
                        </figure>
                    </a>
                </div>

                <!-- HIDDEN IN SM AND BELOW -->
                <div class="d-none d-md-block col-md-4 text-center">
                    <a href="{{ url_for('routes.fashion_accessories') }}">
                        <figure class="figure">
                            <img src="https://placehold.co/100" class="figure-img img-fluid" alt="category">
                            <figcaption class="figure-caption">Fashion & Accessories</figcaption>
                        </figure>
                    </a>
                </div>
            </div>

            <!-- ROW TWO  HIDDEN IN MD AND ABOVE -->
            <div class="row d-md-none mb-5">
                <div class="col-6 text-center">
                    <a href="{{ url_for('routes.fashion_accessories') }}">
                        <figure class="figure">
                            <img src="https://placehold.co/100" class="figure-img img-fluid" alt="category">
                            <figcaption class="figure-caption">Fashion & Accessories</figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-6 text-center">
                    <a href="{{ url_for('routes.gifts_keepsakes') }}">
                        <figure class="figure">
                            <img src="https://placehold.co/100" class="figure-img img-fluid" alt="category">
                            <figcaption class="figure-caption">Gifts & Keepsakes</figcaption>
                        </figure>
                    </a>
                </div>
            </div>

            <!-- ROW THREE -->
            <div class="row mb-5">

                <!-- HIDDEN IN SM AND BELOW -->
                <div class="d-none d-md-block col-md-4 text-center">
                    <a href="{{ url_for('routes.gifts_keepsakes') }}">
                        <figure class="figure">
                            <img src="https://placehold.co/100" class="figure-img img-fluid" alt="category">
                            <figcaption class="figure-caption">Gifts & Keepsakes</figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-6 col-md-4 text-center">
                    <a href="{{ url_for('routes.handmade_candles') }}">
                        <figure class="figure">
                            <img src="https://placehold.co/100" class="figure-img img-fluid" alt="category">
                            <figcaption class="figure-caption">Handmade Candles</figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-6 col-md-4 text-center">
                    <a href="{{ url_for('routes.home_wall_deco') }}">
                        <figure class="figure">
                            <img src="https://placehold.co/100" class="figure-img img-fluid" alt="category">
                            <figcaption class="figure-caption">Home & Wall Decor</figcaption>
                        </figure>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- BREAK SPACE -->
<div class="py-5"></div>
{% endblock %}