{% extends 'base.html' %}

{% block content %}
<div class="container">

    {% if id == current_user.id or current_user.id == 1 %}

    <div class="container-fluid form-signin w-100 m-auto">
        <form method="POST" action="{{ url_for('auth.update_user', id=name_to_update.id) }}">
            {{ form.hidden_tag() }}

            <h1 class="display-5 text mb-5 fw-normal text-capitalize text-center">Update User</h1>

            <div class="form-floating my-2">
                {{ form.name(type="text", class="form-control", id="name", value=name_to_update.name) }}
                {{ form.name.label(for="name") }}
            </div>
            <div class="form-floating my-2">
                {{ form.username(type="text", class="form-control", id="username", value=name_to_update.username) }}
                {{ form.username.label(for="username") }}
            </div>
            <div class="form-floating my-2">
                {{ form.email(type="email", class="form-control", id="email", value=name_to_update.email) }}
                {{ form.email.label(for="email") }}
            </div>

            <div class="my-3"></div>

            {{ form.update(class="btn btn-sm btn-success px-3 mt-2", type="submit") }}

            {% if name_to_update.id != 1 %}

                <a href="{{ url_for('auth.delete_user', id=name_to_update.id) }}" class="btn btn-sm btn-danger px-4 text-uppercase mx-2 mt-2", type="button">Delete <i class="bi bi-trash3"></i></a>

            {% endif %}

            <a href="{{ url_for('root.dashboard') }}" class="btn btn-sm btn-secondary ps-2 pe-3 text-uppercase mt-2", type="button"><i class="bi bi-chevron-left"></i> To Dashboard</a>

            <div class="d-flex my-4 justify-content-start">
                <span>Forgot password?</span>
                <a href="{{ url_for('auth.reset_password', id=name_to_update.id) }}" class="mx-1", type="button">Change Password</a>
            </div>


        </form>
    </div>

    
    {% else %}

    <div class="container-fluid text-center py-5">
        <h1 class="display-1 fw-bold mt-5 pt-5 text-capitalize text-danger">Unauthorized Access!</h1>
        <p class="text-capitalize mb-5 pb-5 text-danger-emphasis">Sorry! You Don't Have Access To That User Profile.</p>
    </div>

    {% endif %}

</div>
{% endblock %}