html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;

    height: 100%;
}

.footer{
    background-color: #edede9;
}

.footer-p{
    font-size: 12px;
}

.text-body-justify {
    text-align: justify;
}

.prd-img-src-p{
    font-size: 7px;
}

.date-join-p{
    font-size: 12px;
}

.category-side-p{
    font-size: 10px;
}

.justify-text-body{
    text-align: justify;
}

.prd-id-p{
    font-size: 10px;
}

.card-hover-pop {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover-pop:hover {
    transform: scale(1.03);
    box-shadow: var(--bs-box-shadow-sm) !important;
}

.card-hover-pop:active {
    transform: scale(0.98);
    box-shadow: var(--bs-box-shadow-sm) !important;
}

.product-card {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.product-img {
    height: 220px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 0.25rem;
}

.fixed-img {
    height: 300px;
    object-fit: cover;
    width: auto;
}

.review-time-p{
    font-size: 11px;
}

.merienda-font {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.carousel-indicators [data-bs-target] {
  width: 6px;            /* smaller width */
  height: 6px;           /* smaller height */
  border-radius: 50%;    /* circular shape */
  margin: 0 4px;         /* spacing between dots */
}